$primary-border-color: #dfdfdf;
$anchor-color: #106ba3;

$mobile: "screen and (max-width: 768px)";

@mixin transform($transform){
  -ms-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

