@font-face {
  font-family: 'Kanit';
	font-weight: 400;
  unicode-range: U+0E00–U+0E7F;
  src: url('../../assets/fonts/Kanit/Kanit-Regular.ttf');
}
@font-face {
  font-family: 'Kanit';
  font-weight: 500;
  unicode-range: U+0E00–U+0E7F;
  src: url('../../assets/fonts/Kanit/Kanit-Medium.ttf');
}
@font-face {
  font-family: 'Kanit';
  font-weight: 600;
  unicode-range: U+0E00–U+0E7F;
  src: url('../../assets/fonts/Kanit/Kanit-SemiBold.ttf');
}
@font-face {
  font-family: 'Kanit';
	font-weight: 700;
  unicode-range: U+0E00–U+0E7F;
  src: url('../../assets/fonts/Kanit/Kanit-Bold.ttf');
}
