@media #{$mobile} {
  [class*="col-"] {
    width: 100%;
    max-width: 100%;
    flex: auto;
  }
  .mobile-btn-upload {
    text-align: right;
  }
  .stepper{
    &--text{
      display: none;
    }
    &--number{
      margin-right: 0px;
    }
    &--active{
      .stepper{
        &--text{
          display: block;
        }
        &--number{
          margin-right: 8px;
        }
      }
    }
    .mobile-hide {
      display: none !important;
    }
  }  
}