.pt-form-group.pt-inline .pt-label {
  width: 180px;
}

.pt-form-content {
  width: 100%;
}

.pt-label > .pt-text-muted {
  padding-left: 5px;
}

.bp-table-container {
  outline: none;
  margin-bottom: 15px;
}
