body {
  // min-height: 1024px;
}

main {
  position: relative;
}

.page-title {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid $primary-border-color;
}

.section-title {
  margin-bottom: 15px;
  border-bottom: 1px solid $primary-border-color;
}

.button-group {
  .pt-button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.non-ideal {
  padding: 15px;

  &.info {
    background-color: #ebf1f5;
  }
}

.error {
  color: #a82a2a;
}
a:hover {
  text-decoration: none;
}
.pc-hide {
  display: none !important;
}

@media(min-width: 768px){
  .stepper{
    &--number{
      margin-right: 8px;
    }
  }
}

.stepper {
  height: 88px;
  position: relative;
  &--container{
    height: 56px;
    position: absolute;
    margin: auto;
    top: 50%;
    @include transform(translateY(-50%));
  }
  &--number{
    &--icon{
      width: 24px;
      height: 24px;
      background-color: rgba(0, 0, 0, 0.27);
      border-radius: 50%;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      color: #ffffff;
      padding: 3px;
      > img{
        height: 19px;
      }
    }
  }
  &--text {
    font-family: 'Kanit';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    position: relative;
    top: 5px;
  }
  &--control{
    display: flex;
    height: 56px;
    padding: 17px 0px;
    position: relative;
  }
  &--active{
    .stepper{
      &--control{
        background: #019bc9;
        border-radius: 4px;
      }
      &--text{
        color: #ffffff;
      }
      &--number{
        &--icon{
          background-color: rgb(255,255,255);
          color: #019bc9;
        }
      }
      &--control{
        padding: 17px 10px;
      }
    }
  }
}

.landing{
  &--container{
    max-width: 1170px;
    padding: 0px 84px 15px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    &--box{
      padding: 100px 0 0;
      width: 65%;
    }
  }
  &--title{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.18;
    letter-spacing: 1.7px;
    color: #3469b1;
  }
  &--text{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 2.59;
    color: #747474;
    &--primary{
      font-weight: 700;
      color: #3469b1;
    }
    &--copyright{
      font-size: 15px;
      font-weight: 500;
      line-height: 2.93;
      letter-spacing: 0.9px;
      text-align: center;
      color: #747474;
      margin-top: 113px;
    }
    &--lg{
      font-weight: 700;
      font-size: 22px;
    }
    &--mobile{
      display: none;
    }
  }
  &--list{
    padding: 0;
    display: flex;
    > li{
      &:first-child{
        list-style: none;
      }
      margin-right: 36px;
    }
  }
  &--link{
    text-decoration: underline;
    display: block;
  }
  &--btn{
    width: 244px;
    height: 50px;
    border-radius: 100px;
    background-color: #3469b1;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.22);
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding: 13px 0;
    text-decoration: none;
    margin-top: 15px;
    &:hover{
      background-color: #4d86d4;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &--group{
    &--g1{
      margin: 43px 0 134px;
    }
  }
  &--logo-poster{
    position: absolute;
    top: 0px;
    right: 84px;
    text-align: center;
    z-index: 1;
    &--bg {
      width: 429px;
      height: 636px;
      mix-blend-mode: lighten;
      border-bottom-left-radius: 500px;
      border-bottom-right-radius: 500px;
      background-image: linear-gradient(148deg, #50b899, #009ec7);
      padding: 30px 55px 55px;
    }
    &--info{
      color: #ffffff;
      &--logo{
        width: 290px;
      }
    }
    &--desc{
      margin: 15px 0 48px;
    }
    .landing{
      &--text{
        line-height: 1.79;
        color: #ffffff;
      }
    }
  }
}
